#map {
	bottom: 0px;
	height: 90%;
	width: 55%;
	
	position: absolute;
	right: 0px;
}
#pano {
	width: 200px;
	height: 200px;
}
.options-box {
	background: #fff;
	
	text-align: left;
	width: 45%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}